%button.js-menu-trigger.sliding-menu-button{type: "button"}
  Menu

%nav
  .js-menu.sliding-menu-content
    %ul
      %li
        = link_to "Oklahoma", "#"
      %li
        = link_to "Dallas", "#"
      %li
        = link_to "East Bay", "#"
      %li
        = link_to "San Francisco", "#"
      %li
        = link_to "Sacramento", "#"
      %li
        = link_to "My Type", "/index.html", :class => "blog-title"
  .js-menu-screen.menu-screen
